.dub
docs.json
__dummy.html
*.o
*.obj
/util/__test__library__
/test/workspace-d_test
dub.selections.json
*.a
/workspace-d
docs/
bin/
iworkspaced
workspace-d_dml
debs/
*.exe
*.dll
workspace-d*.zip
workspace-d*.tar.xz
__test__*__
*-test-*
.vscode/
.vs/
*.lib
